<template>
  <div>
    <v-toolbar
      color="yellow"
      dark
    >
     <v-spacer></v-spacer>
     <v-toolbar-items class="hidden-sm-and-down">
       <v-btn flat> Imprimir </v-btn>
     </v-toolbar-items>
   </v-toolbar>
 </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import List from './List';
  import ActionsPanel from './ActionsPanel';

  export default {
    name: 'posters',
    data() {
      return {
        tab: null,
        papers: [
          { size: 'A6' },
          { size: 'A5' },
          { size: 'A4' },
          { size: 'A3' },
        ],
      };
    },
    components: {
      'posters-list': List,
      'actions-panel': ActionsPanel,
    },
    methods: {
      ...mapActions({
        getAllPosters: 'Posters/getPosters',
        updatePaperSize: 'Posters/updatePaperSize',
      }),
      updatePaperSizeSelected(paperSize) {
        console.log(paperSize);
        this.updatePaperSize(paperSize);
      },
    },
    mounted() {
      this.getAllPosters();
    },
    computed: {
      ...mapState({
        posters: state => state.Posters.posters,
      }),
    },
  };
</script>

<style>
  /* CSS */
</style>
