<template>
  <v-data-table
    v-model="selected"
    :headers="headers"
    :items="postersBySize"
    :pagination.sync="pagination"
    select-all
    item-key="id"
    class="elevation-1"
    @input="toggle"
  >
    <template slot="headers" slot-scope="props">
      <tr>
        <th>
          <v-checkbox
            :input-value="props.all"
            :indeterminate="props.indeterminate"
            primary
            hide-details
            @click.native="toggleAll"
          ></v-checkbox>
        </th>
        <th
          v-for="header in props.headers"
          :key="header.text"
          :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
          @click="changeSort(header.value)"
        >
          <v-icon small>arrow_upward</v-icon>
          {{ header.text }}
        </th>
      </tr>
    </template>
    <template slot="items" slot-scope="props">
      <tr :active="props.selected" @click="props.selected = !props.selected">
        <td>
          <v-checkbox
            :input-value="props.selected"
            primary
            hide-details
            @click.native="toggle"
          ></v-checkbox>
        </td>
        <td class="text-xs-center">{{ props.item.product }}</td>
        <td class="text-xs-center">{{ props.item.layout }}</td>
        <td class="text-xs-center">{{ props.item.price }}</td>
      </tr>
    </template>
  </v-data-table>
</template>
<script>

  import { mapState, mapActions } from 'vuex';

  export default {
    props: ['paperSize'],
    data() {
      return {
        selected: [],
        headers: [
          {
            text: 'Produto',
            align: 'left',
            sortable: false,
            value: 'product',
          },
          { text: 'Layout', value: 'layout', align: 'center' },
          { text: 'Preço', value: 'price', align: 'center' },
        ],
      };
    },
    watch: {
      pagination: {
        handler() {
          this.loading = true;
          this.$store.dispatch('ListPosters/queryItems')
            .then(() => {
              this.loading = false;
            });
        },
        deep: true,
      },
    },
    computed: {
      ...mapState({
        posters: state => state.Posters.posters,
        postersSelected: state => state.ListPosters.selected,
        pagination: state => state.ListPosters.pagination,
      }),
      postersBySize: function getPostersBySize() {
        const postersBySize = this.posters.filter(poster => poster.paper === this.paperSize);
        postersBySize.forEach((obj) => { obj.value = false; });
        return postersBySize;
      },
    },
    methods: {
      ...mapActions({
        setSelected: 'ListPosters/setSelected',
      }),
      clearPropsSelected() {
        this.props.selected = [];
      },
      toggle() {
        this.setSelected(this.selected);
      },
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.postersBySize.slice();
        this.setSelected(this.selected);
      },
      changeSort(column) {
        if (this.pagination.sortBy === column) {
          this.pagination.descending = !this.pagination.descending;
        } else {
          this.pagination.sortBy = column;
          this.pagination.descending = false;
        }
      },
      ...mapActions({
        setSelected: 'ListPosters/setSelected',
      }),
    },
  };
</script>
</style>
</style>
