<template>
  <div>
    <v-toolbar
      color="indigo darken-1"
      dark
      tabs
    >
      <v-toolbar-title> Cartaz Printer </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn small outline @click="goToPrinting" color="white"><v-icon>printer</v-icon>Imprimir</v-btn>
      <v-btn small outline @click="getAllPosters" color="white"><v-icon>update</v-icon>Atualizar Lista</v-btn>
      <v-tabs
        slot="extension"
        color="indigo darken-1"
        slider-color="teal accent-2"
        v-model="tab"
        grow
        @change="clearSelected"
      >
        <v-tab
          v-for="(paper, index) in papers"
          :key="index"
        >
          <strong>{{ paper.size }}</strong>
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="tab">
      <v-tab-item
      v-for="(paper, index) in papers"
      :key="index"
      >
        <v-card flat>
          <posters-list v-bind:paperSize='paper.size'></posters-list>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import List from './List';

  export default {
    name: 'posters',
    data() {
      return {
        tab: null,
        papers: [
          { size: 'A6' },
          { size: 'A5' },
          { size: 'A4' },
          { size: 'A3' },
        ],
      };
    },
    components: {
      'posters-list': List,
    },
    methods: {
      ...mapActions({
        getAllPosters: 'Posters/getPosters',
        updatePaperSize: 'Posters/updatePaperSize',
        clearStateSelected: 'ListPosters/clearSelected',
      }),
      updatePaperSizeSelected(paperSize) {
        this.updatePaperSize(paperSize);
      },
      clearSelected() {
        this.clearStateSelected();
      },
      goToPrinting() {
        if (this.selected.length) {
          this.$router.push('/printing');
        } else {
          alert('Selecione algum cartaz para imprimir');
        }
      },
    },
    mounted() {
      this.getAllPosters();
    },
    computed: {
      ...mapState({
        posters: state => state.Posters.posters,
        selected: state => state.ListPosters.selected,
      }),
    },
  };
</script>

<style>
  /* CSS */
</style>
