<template>
  <div>
    <v-toolbar
      absolute
      color="indigo"
      dark
      scroll-off-screen
      scroll-target="#scrolling-div"
    >
      <v-toolbar-title>
        Confirmação para Impressão
      </v-toolbar-title>
      <v-btn v-if="toChoose" :disabled="!toChoose" @click="printHandle()" color="teal lighten-1" small dark>Imprimir</v-btn>
      <v-btn v-if="toChoose" :disabled="!toChoose" @click="back()" color="red lighten-1" small dark> Cancelar </v-btn>
      <v-btn v-if="completed" @click="back()" color="teal" small dark> Concluir </v-btn>
    </v-toolbar>
    <div
      id="scrolling-div"
      class="scroll-y"
    >
      <v-card>
        <v-list two-line>
          <template v-for="(item, index) in posters">
            <v-subheader
              v-if="index == 0"
              :key="item.id"
            >
            Cartazes para serem Impressos
          </v-subheader>
            <v-divider
            v-else
            :inset="true"
            :key="index"
          ></v-divider>

          <v-list-tile
            :key="item.product"
            avatar
          >
            <v-list-tile-avatar>
              <v-icon v-if="item.status == 3" color="green">done</v-icon>
                <v-progress-circular
                  v-else-if="item.status == 2"
                  color="green"
                >
                </v-progress-circular>
                <v-progress-circular
                  v-else-if="item.status == 1"
                  indeterminate
                  color="red"
                >
                </v-progress-circular>
                <v-spacer v-else></v-spacer>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title v-html="item.product"></v-list-tile-title>
              <v-list-tile-sub-title v-html="item.state"></v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          </template>
          <v-btn v-if="allPrinted" outline color="teal" dark to="/"> Concluir </v-btn>
        </v-list>
      </v-card>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import async from 'async';

import PostersPackager from '../../lib/posters-packager';

export default {
  name: 'poster-printings',
  data() {
    return {
      allPrinted: false,
      printer: 'L1300-Series',
      posterPackages: [],
      posters: [],
      toChoose: true,
      completed: false,
    };
  },
  methods: {
    ...mapActions({
      statusUpdate: 'ListPosters/setSelected',
    }),
    packagePosters() {
      this.posterPackages = PostersPackager.postersPackage(this.postersToPrint);
      this.setPosters();
    },
    setPosters() {
      if (this.posters !== []) this.posters = [];
      this.posterPackages.forEach((posterPackage) => {
        if (posterPackage.posters instanceof Array) {
          posterPackage.posters.forEach((poster) => {
            this.posters.push(poster);
          });
        } else {
          this.posters.push(posterPackage.posters);
        }
      });
    },
    allStatusPreparing() {
      this.posterPackages.forEach((posterPackage) => {
        if (posterPackage.posters instanceof Array) {
          posterPackage.posters.forEach((poster) => {
            this.posters.forEach((thisPoster) => {
              if (thisPoster.id === poster.id) {
                thisPoster.status = 1;
                this.posters.splice();
              }
            });
          });
        } else {
          this.posters.forEach((thisPoster) => {
            if (thisPoster.id === posterPackage.posters.id) {
              thisPoster.status = 1;
              this.posters.splice();
            }
          });
        }
      });
    },
    updateStatus(posterPackage, status) {
      if (posterPackage.posters instanceof Array) {
        posterPackage.posters.forEach((poster) => {
          this.posters.forEach((thisPoster) => {
            if (thisPoster.id === poster.id) {
              thisPoster.status = status;
              this.posters.splice();
            }
          });
        });
      } else {
        this.posters.forEach((poster) => {
          if (poster.id === posterPackage.posters.id) {
            poster.status = status;
            this.posters.splice();
          }
        });
      }
    },
    printHandle() {
      this.toChoose = false;
      this.allStatusPreparing();
      async.each(this.posterPackages, (posterPackage, resolve) => {
        posterPackage.download().then(() => {
          this.updateStatus(posterPackage, 2);
          this.print(posterPackage).then(() => {
            this.updateStatus(posterPackage, 3);
            this.completed = true;
            resolve();
          });
        });
      });
    },
    async print(posterPackage) {
      const printPromise = await posterPackage.print();
      return printPromise;
    },
    back() {
      this.$store.dispatch('ListPosters/clearSelected');
      this.$router.push('/');
    },
  },
  computed: {
    ...mapState({
      postersToPrint: state => state.ListPosters.selected,
    }),
  },
  created() {
    this.packagePosters();
  },
};
</script>

<style>
  /* CSS */
</style>
