<template>
  <v-container>
    <v-layout align-space-between justify-center row fill-heigh-center >
      <v-flex xs10 sm5 class="grey lighten-4">
        <v-container fluid grid-list-md>
          <v-card flat>
            <v-card-title primary-title>
              <h4>Login</h4>
            </v-card-title>
            <v-form>
            <v-text-field @keyup.13='logIn()' prepend-icon="person" name="Username" label="Username" v-model="Username"></v-text-field>
            <v-text-field @keyup.13='logIn()' prepend-icon="lock" name="Password" label="Password" type="password" v-model="Password"></v-text-field>
            <v-card-actions>
              <v-btn primary large block @click='logIn()'>Login</v-btn>
            </v-card-actions>
            </v-form>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import { mapState, mapActions } from 'vuex';

export default {
  name: 'auth',
  data() {
    return {
      Username: '',
      Password: '',
    };
  },
  methods: {
    logIn() {
      let credentials = {};
      credentials = { login: this.Username, password: this.Password };
      this.signIn(credentials)
        .then(() => {
          setTimeout(() => {
            this.$router.push('/');
          }, 2000);
        });
    },
    ...mapActions({
      signIn: 'Login/auth',
    }),
  },
  computed: mapState({
    toLogin: state => state.Login.toLogin,
  }),
};
</script>

<style>

</style>
